.page {
  background-color: #333;
}

.page header {
  display: flex;
  justify-content: space-between;
}

.reveal {
  animation-name: reveal;
}

@keyframes reveal {
  from { opacity: 0; }
  to { opacity: 1; }
}
